body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: green;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: green;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: "🔄";
}

#pic2 {
    list-style-type: "⛔";
}

#pic3 {
    list-style-type: "🧬";
}

th,
td {
    border: 1px solid white;
    color: white;
    padding: 3px;
}

.alin {
    text-align: left;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
    position: absolute;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: left;
}

.lista {
    display: flex;
    justify-content: center;
}

.boton {
    font-size: 80px;
    margin-top: 8%;
    margin-bottom: 4%;
}

.logo {
    margin-left: 10px;
}

.formContainer {
    margin-top: 12vh;
}

.matrix {
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 2vw 2vw 2vw 2vw;
    background-color: white;
    border: solid 8px green;
    font-size: 120%;
    font-weight: bolder;
    text-align: center;
    position: fixed;
}

#dinamiContent{
    display: flex;
    flex-direction: column;
    float: right;
    text-align: center;
    margin-right: 15vw;
    width: 25vw;
    color: white;
}

#errorsContainer{
    padding: 4%;
    margin-bottom: 3vw;
}

.error{
    border: solid red 5px;
}

#tabla{
    margin-top: 4%;
}

.center{
    display: flex;
    justify-content: center;
}

#infoContainer{
    display: flex;
    justify-content: center;
}

#info{
    background-color: white;    
    border: solid 5px green;
    padding: 2%;
    max-width: 800px;
    text-align: center;
}

#pieImagen{
    font-size: 12px;
    font-style: italic;
}