body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: green;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: green;
}

ul{
    margin:0;
    padding:0;
    list-style-type: "🔄";
}

#pic2{
    list-style-type: "⛔";
}

#pic3{
    list-style-type: "🧬";
}

th, td{
    border: 1px solid white;
    color: white;
    padding: 3px;
}

.alin{
    text-align:left !important;
}

.carrusel{
    font-weight: bolder;
}

.sliderContainer{
    display: grid;
    grid-template-columns: repeat(3, 33vw);
    grid-template-rows: repeat(2, 40vh);
}

.hidden{
    display: none;
}

.menu{
    width: 100%;
    display:flex;
    justify-content: left;
}

.slider{
    grid-row: 1;
    grid-column: 2;
}

.lista{
    grid-row: 2;
    grid-column: 2;
    display: flex;    
    justify-content: center;
}

.abs{
    position: absolute;
}

.boton{
    grid-row: 2;
    grid-column: 3;
    font-size: 80px;
}

.logo{
    margin-left: 10px;
}
.center{
    display: flex;
    justify-content: center;
}
.formContainer{
    margin-top: 15vh;
}
.matrix{
    display: grid;
    grid-template-columns: repeat(2, 12vw);
    grid-template-rows: repeat(3, 4vw);
    text-align: center;
}
#form{
    padding: 2vw 4vw 2vw 2vw;
    background-color: white;
    border: solid 8px green;
    font-size: 120%;
    font-weight: bolder;
}