body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-rows: repeat(3, 33vh);
    grid-template-columns: repeat(3, 33vw);
    background-color: black;
    color: green;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: green;
    background-color: white;
}

ul{
    margin:0;
    padding:0;
    list-style-type: "🔄";
}

#pic2{
    list-style-type: "⛔";
}

#pic3{
    list-style-type: "🧬";
}

th, td{
    border: 1px solid white;
    color: white;
    padding: 3px;
}

.row{
    grid-column: 2;
}

.alin{
    text-align:left !important;
}

.carrusel{
    font-weight: bolder;    
}